.container{
    position: relative;
  }
  .caja{
    width: 180px;
    height: 180px;
    background-color: #30B037;
    color: #FFF;
    text-align: center;
    line-height: 180px;
    margin: 15px;
    float: left;
    font-size: 18px;
    font-family: Arial;
  }

.caja1{
  background-color: rgba(182, 41, 41, 0.842);
  transition:  1s linear;
  -webkit-transition: 1s linear;
}
.caja1:hover{
  transform: scale(1.3);
}
.caja2{
  background-color: purple;
  transition: 1s linear;
  -webkit-transition: 1s linear;
}
.caja2:hover{
  transform:rotate(45deg);
}
.caja3{
  background-color: rgba(25, 59, 172, 0.973);
  transition: 1s linear;
  -webkit-transition: 1s linear;

}
.caja3:hover{
  transform: skew(15deg, 15deg);
}
.caja4{
  background-color: rgba(7, 109, 177, 0.973);
  transition:  1s linear;
  -webkit-transition:  1s linear;
}
.caja4:hover{
  transform: skewX(20deg);
}
.caja5{
  background-color: rgba(7, 166, 177, 0.973);
  transition: 1s linear;
  -webkit-transition: 1s linear;
}
.caja5:hover{
  transform: skewY(20deg);
}
.caja6{
  background-color: rgba(255, 255, 0, 0.945);
  transition: 1s linear;
  -webkit-transition: 1s linear;
}
.caja6:hover{
  transform: translate(20px)
}
.caja7{
  background-color: orangered;
  transition: 1s linear;
  -webkit-transition: 1s linear;
}
.caja7:hover{
  transform: translateX(20px)
}
.caja8{
  background-color:grey;
  transition: 1s linear;
  -webkit-transition: 1s linear;
}
.caja8:hover{
  transform: translateY(20px)
}
.caja9{
  background-color: rgb(56, 58, 80);
  transition: 1s linear;
  -webkit-transition: 1s linear;
}
.caja9:hover{
  transform: perspective(9cm) rotateX(-15deg) rotateY(30deg);
}
.caja10{
  background-color: grey;
}
.caja10:hover{
  transform: perspective(9cm) rotateX(30deg) rotateY(-15deg);
}
.caja11{
  background-color: black;
}
.caja11:hover{
  transform: matrix(1.0, 2.0, 3.0, 4.0, 5.0, 6.0);
}