#uno{
    background-color: green;
    
    
}
#dos {
    background-color: rgb(104, 94, 139);
}
#tres{
    background-color: rgb(104, 94, 139);
}
#cuatro{
background-color: rgb(170, 170, 136);
}
#cinco{
background-color: aqua;
}
#seis{

}
#siete{
    background-color: rgb(19, 104, 8);
}
.container {
    padding-left:30px;
    padding-right:30px;
}

