ul {
    background-color: #d3d3d3;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
    padding-bottom: 0px;
    margin: 10px 0px;
    width: 100%;
    padding-top: 0px;
}

ul LI {
    padding-right: 2px;
    display: inline;
    padding-left: 10px;
    float: left;
    padding-bottom: 30px;
    width: 30%;
    padding-top: 2px;
    
}

ul li a{
    text-decoration: none;
    color:black;
}

body{
    background-color: #d3d3d3;
    
}
