/* Estilos generales de la página */
html, body{
    height: 100%; 
 }
 /* Modificar el modelo de cajas de CSS */
 html{
     box-sizing: border-box
 }
 *, *::before, *::after{
     box-sizing: inherit
 }
 /* Reseteo de márgenes y padding */
 *{
     margin: 0;
     padding: 0;
 }
 body{
    font-family: 'Lato', sans-serif;
 }
 .container{
     width: 90%;
     margin: 0 auto;
 }

 /*Cabecera (1c) */
 #logo{
    float: left;
}
#ListaCabecera{
    float: right;
    list-style: none;
    
}

header {
    padding: 1rem;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.nav li {

    display:inline;
    padding-left:3px;
    padding-right:3px;
  }
li a{
    text-decoration:none;
    color:black
}


#seccionUno{
  height: 400px;
  width: 90%;
  background-image: linear-gradient(to left top, rgba(28, 27, 39, 0.329) 30%,rgba(29, 35, 36, 0.842)), url(../images/buffet-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  padding:30px;
/* Create the parallax scrolling effect */
    background-attachment: fixed;

}

#seccionDos{
    height: 400px;
    width: 90%;
    margin:30px;
    padding-left: 80px;
    
    
}

#seccionTres{
    height: 400px;
    width: 90%;
    background-image: linear-gradient(to left top, rgba(28, 27, 39, 0.329) 30%,rgba(29, 35, 36, 0.842)), url(../images/food-table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin:70px;
    margin-top: 120px;
    background-attachment: fixed;
    
    
  }
#divUno{
  height:200px;
  width: 45%;
  margin:0px auto;
  font-size:48px;
  color:yellow;
  display: flex;
  align-self: center;


}
#divTres{
    height:200px;
    width: 45%;
    margin:0px auto;
    font-size:40px;
    color:white;
    display: flex;
    align-self: center;
    
    
  
  }

#cajaDivisor{
  margin-left: auto;
  width: 20%;
  margin-right: auto;
  font-size: 16px;
  padding-bottom: 20px;
  
}

hr{
    display: flex;
    justify-content: center;
    border: 1px solid red;
    width: 80px;
    margin-left: 30%;

}
#divDos{
  display: flex;
  flex-flow: wrap;
  

}
#caja1{
  flex-basis: 60;
}

#caja2{
  flex-basis: 40%;

  padding-left: 40px;
  
}
#divCuatro{
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}
.card{
  margin: 20px 0.5em;
  padding-bottom: 35px;
  text-align: center;
  box-shadow: 1px 1px 1px gray;
}
.card img{
  width: 100%;
  margin-bottom: 20px;
}
.card p{
  font-size: 0.9rem;
  padding: 12px 2em;

}

h1{
    margin:30px;
}

#divCinco{
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
  }

.card2{
    margin: 20px 5.5em;
    padding-bottom: 35px;
    text-align: center;
    border: 1px solid gray;
    transition: box-shadow 1s linear;
    -webkit-transition: box-shadow 1s linear;
    
  }
.card2 ul{
    margin: 20px 0.5em;
    padding-bottom: 35px;
    text-align: center;
    width:280px;
    
    
  }
.card2 li{
    list-style: none;
    padding-bottom: 25px;
    border-bottom: 0.5px solid rgb(182, 180, 180);
    
}

.price{
    background-color: rgb(207, 204, 204);
}

i{
    color:green;
}
#p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2:hover{
    box-shadow: 6px 6px 6px gray;
}

.package-header{
    font-size: 20px;
}
#seccionCinco{
    background-color: rgb(247, 240, 240);
}

#seccionSexta{
  height: 400px;
  width: 90%;
  display: flex;
  align-content: center;


}
#addressBox{

margin-left: 420px;
}

#formulario{
  display: flex;
  flex-flow: column;
}

footer{
  background-color: blueviolet;
  height: 100px;
  display: flex;
}

#pieDePagina{
display: flex;
justify-content: center;

}
i{
  font-size: 50px;
}

small{
display: flex;
align-self:flex-end;
justify-content: center;
}

/* Aplicar los siguientes estilos cuando el tamaño del viewport se encuentre en un rango de 960px - 1199px */
@media screen and (min-width:0) and (max-width:978px) {
  img{display: none;
  }
}
/* Aplicar los siguientes estilos cuando el tamaño del viewport sea igual o menor que 959px */
@media screen and (max-width:959px) {
  #intro{
      flex-flow: column wrap;
  }
  h1{
      font-size: 3.3rem;
  }
  #descripcion{
      flex-basis: 100%;
      padding: 0 0 0 0;
      flex-grow: 0;
  }
  article > section:nth-child(2){
      padding: 20px 0;
  }
  #seccionDos{
      flex-flow: column wrap;
  }
  .col{
      padding: 30px 0;
  }
  #seccionTres{
      flex-flow: column wrap;
  }
  #seccionTres div{
      flex-basis: 100%;
      padding-right: 0;
  }
  #seccionTres a{
      padding: 12px 0;
      width: 100%;
      text-align: center;
  }
  video{
      flex-basis: 100%;
      width: 100%;
  }
  article > section:nth-child(4){
      padding: 20px 0 0;
  }
  #seccionCuatro{
      flex-flow: column;
  }
  #seccionCinco{
      text-align: center;
  }
}
/* Aplicar los siguientes estilos cuando el tamaño del viewport se encuentre inferior a 659px */
@media screen and (max-width:659px) {
  #logo, #infoContacto{
      width: 100%;
      text-align: center;
      margin: 5px auto;
  }
  #pieDePagina{
      text-align: center;
  }
  .nav{
      float: none;
  }
  .nav li{
      display: block;
      margin: 20px 0;
  }
  .copyright{
      float: none;
      border-top: 1px solid #3e3e3b;
      margin-top: 30px;
  }
}