#cabecera{
    background-color: blue;
    color: white;
}

img{
    width: 100%;
}

span {
    display:block;
    text-align:center;
    }


    /*
input{
    background-color: rgb(0, 81, 255);
    color:white;

} */

#uno{
    display:block;
    text-align:center;
}